{% extends "./base.html" %}

{% block content %}
<h1>Add a new routine</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'workouts:add_routine' %}" method="post">
{% csrf_token %}
  <div>
  <label for="routine_text">Name</label></br>
  <input type="text" name="routine_text" id="routine_text"/>
  </div>

  <div>
  <label for="exercise_text">Exercises (separate with new line)</label></br>
  <textarea name="exercise_text" style="height: 200px; width: 400px;">{{exercise_text}}</textarea>
  </div>
  <input type="submit" value="Add routine"/>
</form>
{% endblock %}
