
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}Fit-j{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'workouts/style.css' %}"
  </head>

  <body>
    <div id="sidebar">
      {% block sidebar %}
        <span><a href="{% url 'workouts:index' %}">Home</a></span>
        <span><a href="{% url 'workouts:sort_by_likes' %}">Top 10</a></span>
        <span><a href="{% url 'workouts:trending' %}">Trending</a></span>
        <span><a href="{% url 'workouts:user' %}">User</a></span>
        {% if user.is_authenticated %}
          <span><a href="{% url 'workouts:profile' %}">{{ user.username }}</a></span>
          <span><a href="{% url 'workouts:journal' %}">Journal</a></span>
          <span><a href="{% url 'workouts:logout' %}">Logout</a></span>
        {% else %}
          <span><a href="{% url 'workouts:login' %}">Login</a></span>
          <span><a href="{% url 'workouts:sign_up' %}">Sign up</a></span>
        {% endif %}        
      {% endblock sidebar %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

  </body>



</html>
