{% extends "./base.html" %}

{% block content %}
<div class="page-header"><h1>{{ routine.routine_title }}</h1></div>
<div>
  <p>
  <span>Created {{ routine.pub_date }} by </span>
  <span><a href="{% url 'workouts:user_detail' routine.created_by.id %}">{{ routine.created_by.first_name }}</a></span>
  </p>
</div>
<div>
  <p>
  <form method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
      <button type="submit" name="like" class="btn btn-xs btn-default">Like <span class="badge">{{ routine.likes }}</span></button>
      {% if routine_exists_in_journal is True %}
        <button type="submit" name="mark_complete" class="btn btn-xs btn-default">Mark complete</button>
      {% else %}
        <button type="submit" name="add_to_journal" class="btn btn-xs btn-default">Add to journal</button>
      {% endif %}
      <a href="{% url 'workouts:customize_routine' routine.id %}">Customize</a>
    {% endif %}
    {% if user == routine.created_by %}
      <a href="{% url 'workouts:edit_routine' routine.id %}">Edit</a>
      <button type="submit" name="delete_routine" class="btn btn-xs btn-default">Delete routine</button>
    {% endif %}
  </form>
  </p>
</div>
<div class="alert-info">{{ error_delete }}</div>
<div class="alert-info">{{ error_add_to_journal }}</div>
<div class="alert-success">{{ add_to_journal_success }}</div>

<div><pre>{{ routine.routine_text }}</pre></div>

<div><h4>Tags</h4></div>
<div>
  {% for tag in routine.tag_set.all %}
    <span><a class="badge" href="{% url 'workouts:index' %}?tags={{ tag.tag_text }}">{{ tag.tag_text }}</a></span>
  {% endfor %}
</div>

<div>
  <h4>Comments</h4>
  {% for comment in routine.comment_set.all %}
    <div><strong>{{ comment.created_by }}</strong></div>
    <div>{{ comment.comment_text }}</div>
  {% endfor %}
</div>

<div>
  <h4>Leave a comment</h4>
  <form method="post">
    {% csrf_token %}
    <div><textarea name="comment_text"></textarea></div>
    <div><button type="submit" name="comment" class="btn btn-md btn-default">Comment</button></div>
    <div>{{ error_text }}</div>
  </form>
</div>
{% endblock content %}
