{% extends "./base.html" %}

{% block content %}
<div><h1>{{ routine.routine_title }}</h1></div>
<div>Created {{ routine.pub_date }} by {{ routine.created_by }}</div>
<div>
  <form method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
      <input type="submit" name="like" value="Like {{ routine.likes }}" />
      <input type="submit" name="add_to_journal" value="Add to journal" />
      <a href="{% url 'workouts:customize_routine' routine.id %}">Customize</a>
    {% endif %}
    {% if user == routine.created_by %}
      <a href="{% url 'workouts:edit_routine' routine.id %}">Edit</a>
      <input type="submit" name="delete_routine" value="Delete routine"/>
    {% endif %}
  </form>
</div>
<div>{{ error_delete }}</div>
<div>{{ error_add_to_journal }}</div>
<div>{{ add_to_journal_success }}</div>

<div><pre>{{ routine.routine_text }}</pre></div>

<div><h4>Tags</h4></div>
<div>
  {% for tag in routine.tag_set.all %}
    <span>{{ tag.tag_text }}<span>
  {% endfor %}
</div>

<div>
  <h1>Comments</h1>
  {% for comment in routine.comment_set.all %}
    <div><strong>{{ comment.created_by }}</strong></div>
    <div>{{ comment.comment_text }}</div>
  {% endfor %}
</div>

<div>
  <h1>Leave a comment</h1>
  <form method="post">
    {% csrf_token %}
    <div><textarea name="comment_text"></textarea></div>
    <div><input type="submit" name="comment" value="Comment"/></div>
    <div>{{ error_text }}</div>
  </form>
</div>
{% endblock content %}
