{% extends "./base.html" %}

{% block content %}
<div><h1>{{ routine.routine_title }}</h1></div>
<a href="{% url 'workouts:edit_routine' routine.id %}">Edit</a>
<a href="{% url 'workouts:comment' routine.id %}">Comment</a>
<a href="{% url 'workouts:like' routine.id %}">Upvote</a>
<a href="{% url 'workouts:add_to_journal' routine.id %}">Add to journal</a>
<span>{{ routine.likes }}</span>

<div><pre>{{ routine.routine_text }}</pre></div>


<div>
<h1>Comments</h1>
{% for comment_routine in routine.comment_routine_set.all %}
  <div>
		<strong>{{ comment_routine.comment.user.username }}</strong></br>
		{{ comment_routine.comment.comment_text }}</br>
  </div>
{% endfor %}
</div>

<div>
<form method="post">
  {% csrf_token %}
  <input type="submit" value="Delete routine"/>
</form>
</div>
{% endblock content %}
