{% extends "./base.html" %}

{% block content %}
<div><h1>Planned</h1></div>
{% for entry in journal_planned %}
  <span>
    <div><a href="{% url 'workouts:detail' entry.routine.id %}">{{ entry.routine.routine_title }}</a></div>
    <div>{{ entry.routine.routine_text|truncatewords:10 }}</div>
  </span>
  {% block journal_planned_buttons %}
  {% endblock %}
  <hr>
{% endfor %}

<div><h1>Completed</h1></div>
{% for entry in journal_completed %}
  <div><a href="{% url 'workouts:detail' entry.routine.id %}">{{ entry.routine.routine_title }}</a></div>
  <div>{{ entry.routine.routine_text|truncatewords:10 }}</div>
  <div>
    <span>Last completed {{ entry.completed_on }}</span>
    <span>Total times completed {{ entry.completed_count }}<span>
  </div>
  {% block journal_completed_buttons %}
  {% endblock %}
  <hr>
{% endfor %}

{% endblock content %}
