{% extends "./journal_browse.html" %}

{% block journal_title %}
<div class="page-header"><h1>Your Journal</h1></div>
{% endblock %}

{% block journal_planned_buttons %}
<span>
  <p>
    <form method='post'>
      {% csrf_token %}
      <input type="hidden" name="entry_id" value="{{ entry.id }}" />
      <span><button type="submit" name="mark_complete" class="btn btn-xs btn-default">Mark complete</button></span>
      <span><button type="submit" name="remove_from_journal" class="btn btn-xs btn-default">Remove from journal</button></span>
    </form>
  </p>
</span>
{% endblock %}

{% block journal_completed_buttons %}
<p>
  <form method='post'>
    {% csrf_token %}
    <input type="hidden" name="entry_id" value="{{ entry.id }}" />
    <span><button type="submit" name="mark_complete" class="btn btn-xs btn-default">Mark complete</button></span>
    <span><button type="submit" name="remove_from_journal" class="btn btn-xs btn-default">Remove from journal</button></span>
  </form>
</p>
{% endblock %}
