{% extends "./base.html" %}

{% block content %}
{% block journal_title %}
<div class="page-header"><h1>{{ first_name }}'s Journal</h1></div>
{% endblock %}

<div><h2>Planned</h2></div>
{% for entry in journal_planned %}
  <span>
    <div><h4><a href="{% url 'workouts:detail' entry.routine.id %}">{{ entry.routine.routine_title }}</a></h4></div>
    <div>{{ entry.routine.routine_text|truncatewords:10 }}</div>
  </span>
  {% block journal_planned_buttons %}
  {% endblock %}
  <hr>
{% endfor %}

<div><h2>Completed</h2></div>
{% for entry in journal_completed %}
  <div><h4><a href="{% url 'workouts:detail' entry.routine.id %}">{{ entry.routine.routine_title }}</a></h4></div>
  <div>
    <span>Last completed {{ entry.completed_on }}</span>
    <span>Total times completed {{ entry.completed_count }}<span>
  </div>
  <div>{{ entry.routine.routine_text|truncatewords:10 }}</div>
  {% block journal_completed_buttons %}
  {% endblock %}
  <hr>
{% endfor %}

{% endblock content %}
