{% extends "./journal.html" %}

{% block journal_planned_buttons %}
<span>
  <form method='post'>
    {% csrf_token %}
    <input type="hidden" name="entry_id" value="{{ entry.id }}" />
    <span><input type="submit" name="mark_complete" value="Mark complete" /></span>
    <span><input type="submit" name="remove_from_journal" value="Remove from journal" /></span>
  </form>
</span>
{% endblock %}

{% block journal_completed_buttons %}
<form method='post'>
  {% csrf_token %}
  <input type="hidden" name="entry_id" value="{{ entry.id }}" />
  <span><input type="submit" name="mark_complete" value="Mark complete" /></span>
  <span><input type="submit" name="remove_from_journal" value="Remove from journal" /></span>
</form>
{% endblock %}
