{% extends "./base.html" %}

{% block content %}
<h1>Sign Up</h1>

<form method="post">
{% csrf_token %}
  <div>
    <span><input type="text" name="first_name" placeholder="First name" value="{{ first_name }}"/></span>
    <span><input type="text" name="last_name" placeholder="Last name" value="{{ last_name }}"/></span>
  </div>
  <div>{{ error_name }}</div>
  <div><input type="text" name="username" placeholder="Username" value="{{ username }}"/></div>
  <div>{{ error_username }}</div>
  <div><input type="text" name="email" placeholder="email" value="{{ email }}"/></div>
  <div>{{ error_email }}</div>
  <div><input type="password" name="password" placeholder="New password" /></div>
  <div>{{ error_password }}</div>
  <div><input type="submit" value="Sign up"/></div>
</form>
{% endblock %}
