{% extends "./base.html" %}

{% block content %}
<h1>{{ user.username }}</h1>

<div>
<h2>Users you currently follow:</h2>
<ul>
	{% for following in user.follower.all %}
    <li><a href="{% url 'workouts:user_detail' following.user.id %}">{{ following.user.username }}</a></li>
  {% endfor %}
  <li><a href="{% url "workouts:follow_user" user.id %}">Follow more</a></li>
</ul>
</div>

<div>
<h2>Routines you currently follow:</h2>
<ul>
	{% for routine in user.user_routine_set.all %}
    <li><a href="{% url "workouts:detail" routine.id %}">{{ routine.routine.routine_text }}</a></li>
  {% endfor %}
  <li><a href="{% url "workouts:index" %}">Browse all routines</a></li>
</ul>
</div>

<div>
<form method="post">
  {% csrf_token %}
  <input type="submit" value="Delete user"/>
</form>
</div>
{% endblock content %}
